@import 'vendors/bootstrap-reboot';
@import 'abstracts/mixins';
@import 'base/fonts';
@import 'base/variables';

* {
    font-family: 'Museo Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'components/components';
@import 'sections/sections';
@import 'base/animations';
@import 'media/media';