.feed {
    padding-bottom: 71px;

    &__item {
        display: flex;
        margin-top: 100px;

        &:nth-child(2) {
            margin-top: 70px;
        }
    }

    &__img {
        min-width: 169px;
        max-width: 169px;
    }

    &__text {
        margin-left: 62px;
        padding-right: 60px;
    }

    &__subtitle {
        @include font(18px, 700, $dark-grey)
    }

    &__count {
        @include font(14px, 500, #646464)
    }

    &__descr {
        margin-top: 10px;
        @include font($weight: 300, $color: #0d0d0d)
    }
}