.promo {
    min-height: 650px;
    padding: 21px 0 93px;
    background: url('../images/promo/promo__bg.jpg') center center/cover no-repeat;
    color: white;
    text-align: center;

    &__wrap {
        @include d-flex($a-items: flex-end, $j-content: null, $f-direction: column);
        margin-top: 90px;
        text-transform: uppercase;
    }

    &__header {
        @include font(42px, 700, $line-height: 42px);
    }

    &__subheader {
        margin-top: 17px;
        @include font(24px, 500, $line-height: 24px);
    }

    &__icons {
        width: 450px;
        max-width: 100%;
        margin-top: 65px;
        @include d-flex();
    }

    &__icon {
        flex-basis: 30%;
        @include font(14px, 500);

        img {
            display: block;
            margin: 0 auto 20px;
        }
    }

    &__link {
        margin-top: 18px;
        font-weight: 500;
        text-transform: lowercase;

        a {
            color: white;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}