.button {
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    background-color: #c70101;
    @include font(12px, 500, white);
    text-transform: uppercase;

    &_main {
        margin-top: 67px;
        padding: 13px 43px;
        font-size: 16px;
    }

    &_submit {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        @include font(16px, $color: white)
    }
}