.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.56);
}

.modal {
    width: 380px;
    max-width: 100%;
    min-height: 400px;
    padding: 38px 40px 40px;
    background-color: #f2f2f2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        @include font(41px, $color: $primary-color, $line-height: 21px);
    }

    &__subtitle {
        @include font(18px, 700, $dark-grey);
    }

    &__descr {
        @include font(14px, 500, $dark-grey);
    }

    &_mini {
        min-height: 140px;
    }

    .error {
        border: 1px solid red;
    }

    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

#consultation,
#order,
#thanks {
    display: none;
}