.header {
    @include d-flex();
    text-align: center;

    &__logo {
        width: 250px;
    }

    &__official {
        @include font(12px, 500);

        span {
            display: block;
            font-size: 18px;
        }
    }

    &__phone {
        display: block;
        @include font(18px, 700, white);
    }

    &__contacts {
        @include d-flex($a-items: flex-end, $j-content: null, $f-direction: column);
    }
}