@media (min-width: 576px) {
    /*<----- Button ----->*/
    .button {
        cursor: pointer;
    }

    /*<----- Promo ----->*/
    .header__phone:hover {
        color: white;
        text-decoration: none;
    }
}