@media (max-width: 992px) {
    /*<----- Common ----->*/
    .advantages,
    .consultation {
        padding: 40px 0;
    }

    /*<----- Base ----->*/
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*<----- Promo ----->*/
    .promo {
        min-height: auto;
        padding-bottom: 40px;

        &__wrap,
        &__icons,
        .button_main {
            margin-top: 40px;
        }

        &__wrap {
            align-items: center;
        }
    }

    /*<----- Advantages ----->*/
    .advantages {
        &__wrapper {
            margin-top: 30px;
        }

        &__subtitle,
        &__descr {
            margin-top: 15px;
        }
    }

    /*<----- Consultation ----->*/
    .consultation {
        min-height: auto;
        text-align: center;

        .title_left {
            text-align: inherit;
        }

        .feed-form {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}